.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.head {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ulnav{
    display: flex;
    justify-content: space-between;
}
.ulnav > li {
    margin-left: 47px;
}
.burgerbar {
    display: none;
}
li > a{
    color: #303134;
}
.title > h4 {
    font-size: 15px;
    color: #8D8D8D;
    margin-bottom: 13px;
}
.title > h2 {
    font-size: 25px;
    margin-bottom: 25px;
}   
.title > p {
    font-size: 15px;
    width: 200px;
}
.card > p {
    color: #8D8D8D;
    width: 200px;
    margin-left: 15px;
}
.card > h3 {
    margin-left: 15px;
    margin-bottom: 20px;
}
.s1wrap {
    display: flex;
    justify-content: space-between;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}